#**Ejercicio de estatura promedio**
##**Elaborado por:** Antonella Arcos

In [1]:
#Importar una librería
from google.colab import drive
drive.mount('/content/drive')

import pandas as pd

Mounted at /content/drive

In [13]:
#Importar la base
df = pd.read_excel('/content/drive/MyDrive/CODING_DOJO/Week_3/estatura_w3.xlsx')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40616 entries, 0 to 40615
Data columns (total 12 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      40616 non-null  int64
 1   Age     39143 non-null  float64
 2   Height  31615 non-null  float64
 3   Team    40616 non-null  object
 4   NOC     40616 non-null  object
 5   Games   40616 non-null  object
 6   Year    40616 non-null  int64
 7   Season  40616 non-null  object
 8   City    40616 non-null  object
 9   Sport   40616 non-null  object
 10  Event   40616 non-null  object
 11  Medal   5917 non-null   object
dtypes: float64(2), int64(2), object(8)
memory usage: 3.7+ MB

In [14]:
df.groupby(['ID','Year'])[['Height']].mean()

             Height
ID     Year
5      1988   185.0
       1992   185.0
       1994   185.0
6      1992   188.0
       1994   188.0
...             ...
135567 2000   183.0
       2004   183.0
135570 2014   176.0
135571 1998   185.0
       2002   185.0

[28189 rows x 1 columns]