#**Ejercicio de división entrenar probar**
##**Tarea**
Esta es una versión modificada de la tarea de la semana pasada. Tu objetivo es realizar una regresión lineal y KNN para la tarea de regresión de usar el conjunto de datos de abulón para predecir la edad a partir de sus características. La diferencia es que debe realizar la tarea con y sin división entrenar probar.

##**PREDECIR EDAD CON KNN**

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import pandas as pd
import numpy as np
# Para escalar datos
from sklearn.preprocessing import StandardScaler
from sklearn.datasets import load_iris
from sklearn.neighbors import KNeighborsClassifier
import seaborn as sns
import matplotlib.pyplot as plt

In [4]:
df = pd.read_csv('/content/drive/MyDrive/CODING_DOJO/Week_5/abalone.csv')
df.head()

  Sex  Length  Diameter  ...  Viscera weight  Shell weight  Rings
0   M   0.455     0.365  ...          0.1010         0.150     15
1   M   0.350     0.265  ...          0.0485         0.070      7
2   F   0.530     0.420  ...          0.1415         0.210      9
3   M   0.440     0.365  ...          0.1140         0.155     10
4   I   0.330     0.255  ...          0.0395         0.055      7

[5 rows x 9 columns]

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4177 entries, 0 to 4176
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Sex             4177 non-null   object
 1   Length          4177 non-null   float64
 2   Diameter        4177 non-null   float64
 3   Height          4177 non-null   float64
 4   Whole weight    4177 non-null   float64
 5   Shucked weight  4177 non-null   float64
 6   Viscera weight  4177 non-null   float64
 7   Shell weight    4177 non-null   float64
 8   Rings           4177 non-null   int64
dtypes: float64(7), int64(1), object(1)
memory usage: 293.8+ KB

In [5]:
df.shape

(4177, 9)

In [6]:
df.isnull().sum()

Sex               0
Length            0
Diameter          0
Height            0
Whole weight      0
Shucked weight    0
Viscera weight    0
Shell weight      0
Rings             0
dtype: int64

In [7]:
df.describe()
#El atributo de anillos va desde 2 hasta 29. El valor más frecuente son 10 y 11,  
#alrededor de la mediana es decir en el 2ndo y 3er cuartil.
#En este sentido la distribución puede verse como normal porque entre 10 y 11 solo hay 
#diferencia de 1.

            Length     Diameter  ...  Shell weight        Rings
count  4177.000000  4177.000000  ...   4177.000000  4177.000000
mean      0.523992     0.407881  ...      0.238831     9.933684
std       0.120093     0.099240  ...      0.139203     3.224169
min       0.075000     0.055000  ...      0.001500     1.000000
25%       0.450000     0.350000  ...      0.130000     8.000000
50%       0.545000     0.425000  ...      0.234000     9.000000
75%       0.615000     0.480000  ...      0.329000    11.000000
max       0.815000     0.650000  ...      1.005000    29.000000

[8 rows x 8 columns]

In [8]:
#Edad se calcula sumando 1.5 a los anillos
df['age'] = df['Rings']+1.5
df = df.drop('Rings', axis = 1)
#Se puede ver que las variables tienen una distribucion normal, en algunos casos
#tienen sesgos pero en general todas se ven normales

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4177 entries, 0 to 4176
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Sex             4177 non-null   object
 1   Length          4177 non-null   float64
 2   Diameter        4177 non-null   float64
 3   Height          4177 non-null   float64
 4   Whole weight    4177 non-null   float64
 5   Shucked weight  4177 non-null   float64
 6   Viscera weight  4177 non-null   float64
 7   Shell weight    4177 non-null   float64
 8   age             4177 non-null   float64
dtypes: float64(8), object(1)
memory usage: 293.8+ KB

In [5]:
numerical_features = df.select_dtypes(include = [np.number]).columns
numerical_features

Index(['Length', 'Diameter', 'Height', 'Whole weight', 'Shucked weight',
       'Viscera weight', 'Shell weight', 'Rings'],
      dtype='object')

In [6]:
categorical_features = df.select_dtypes(include = [np.object]).columns
categorical_features

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DeprecationWarning: `np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  """Entry point for launching an IPython kernel.

Index(['Sex'], dtype='object')

In [9]:
y = df.loc[:, ['age']]

In [10]:
X = df.loc[:, ['Length', 'Diameter', 'Height', 'Whole weight', 'Shucked weight',
       'Viscera weight', 'Shell weight']]

In [11]:
#Estandarizar datos sin separar en train y test
scaler = StandardScaler()
# Ajusta en X (asumiendo que tu matriz de características es una matriz NumPy)
scaler.fit(X)
# Transform X
X = scaler.transform(X);

In [12]:
from sklearn.model_selection import train_test_split

In [13]:
# si el código parece extraño, revise el desempaquetado de tuplas
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=3)

In [14]:
#Escalar datos train y fit train y test
scaler = StandardScaler()
scaler.fit(X_train)
X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

In [15]:
X.shape

(4177, 7)

###**KNN para predecir la edad: regresión sin dividir**

In [17]:
#importar modelo KNN
from sklearn.neighbors import KNeighborsRegressor

In [18]:
#Crear instancia del modelo
knn = KNeighborsRegressor(n_neighbors =4 )
knn.fit(X,y)

KNeighborsRegressor(n_neighbors=4)

In [20]:
#Y predicho
y_pred = knn.predict(X)

In [21]:
#score
knn.score(X,y)

0.679784656221006

###**KNN para predecir la edad: regresión dividiendo train y test**

In [22]:
#Crear instancia del modelo
knn = KNeighborsRegressor(n_neighbors =4 )
knn.fit(X_train,y_train)

KNeighborsRegressor(n_neighbors=4)

In [23]:
#Y predicho
y_pred_tr = knn.predict(X_train)

In [24]:
y_pred_te = knn.predict(X_test)

In [25]:
score = knn.score(X_test, y_test)
score

0.42951617380392837

In [26]:
score = knn.score(X_train, y_train)
score

0.6795691623293496

El score de la muestra de train y test tienen un ajuste muy diferente.

##**Regresión lineal: sin dividir**

In [27]:
# 1.importar modelo de regresión lineal
from sklearn.linear_model import LinearRegression

In [37]:
#2. Crear una instancia del modelo
# Hacer una instancia de regresión lineal
reg = LinearRegression(fit_intercept=True)

In [34]:
#Paso 3: Entrenar el modelo en los datos, almacenando la información aprendida.
reg.fit(X,y)

LinearRegression()

In [35]:
score = reg.score(X,y)
score

0.5276299399919837

##**Regresión lineal: dividiendo**

In [30]:
#Paso 3: Entrenar el modelo en los datos, almacenando la información aprendida.
reg.fit(X_train,y_train)

LinearRegression()

In [32]:
score = reg.score(X_train,y_train)
score

0.5354587218762765

In [33]:
score = reg.score(X_test,y_test)
score

0.4980116590773236

Con la regresion lineal el score entre ambas aproximaciones es más similar.

**Preguntas para pensar y responder**
Una vez que hayas completado la tarea, responde las siguientes preguntas:


**¿Cuál de KNN o regresión lineal pareció un mejor modelo cuando no usaste la división entrenar probar?**

Sin dividir la regresión KNN tuvo un mejor score que la regresión lineal.

**¿Cuál de KNN o regresión lineal pareció un mejor modelo cuando usaste la división entrenar probar?**
 Al dividir los modelos la mejor regresión fue la regresión lineal ya que los score entre el modelo test y train tuvieron menor diferencia.

**¿Hubo alguna ventaja en la regresión lineal en términos de la cantidad de código que tenías que escribir?**
Para los dos modelos se debe importar el modelo, crear la instancia, entrenar al modelo y evaluar por lo que no fue más corto.

**¿Hay alguna forma de mostrarle a alguien cuál de los dos modelos fue más efectivo?**
Mostrandole el score podriamos mostrarle cual fue más efectivo.

**¿Crees que podrías haber mejorado KNN para mejorar la eficacia del modelo?**
Tal vez haciendo más pruebas sobre la cantidad de vecinos cercanos que pueden explicar mejor el comportamiento y así tener una predicción mas precisa.